body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slidecontainer {
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider {
    width: 80%;
    height: 10px;
    -webkit-appearance: none;
    appearance: none;
    background: #ddd;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.slider:hover {
    background-color: #7899D4;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #7899D4;
    border-radius: 50%;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #7899D4;
    border-radius: 50%;
    cursor: pointer;
}

.slider:focus {
    outline: none;
}
.slider-labels {
    display: flex;
    justify-content: space-between;
    width: 80%;
    width: 80%;
    margin-top: 5px;
}

.label {
    font-size: 14px;
    color: #000501;
    text-align: center;
    font-weight: bold;
}

.button {
    border-radius: 5px;
    background-color: #ffe8d4;
    font-weight: bold;
    font-size: 20px;
    color: #7899d4;
    padding: 20px;
    border: none
}

.button:hover {
    background-color: #fce0c6;
    color: #5d78a5;
}